{% extends 'main/layout.html' %}
{% block content %}
<div class="services-page">
    <h1>Сторінка з послугами</h1>
    <div class="grid">
        <div class="card">
            <i class="fa-solid fa-bolt icon-style"></i>
            <h3>Швидко</h3>
            <p>Доставка та виконання замовлення в найкоротші терміни.</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-tags icon-style"></i>
            <h3>Дешево</h3>
            <p>Найкращі ціни на ринку та гнучка система знижок.</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-star icon-style"></i>
            <h3>Якісно</h3>
            <p>Гарантія якості та професійний підхід до кожної деталі.</p>
        </div>
    </div>
</div>
{% endblock %}
